body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.tutorial {
  text-align: center;
}

.tutorial button {
  margin: 0 10px;
}